body{
	margin: 0;
	padding: 0;
}

.contenedor{
	width: 70%;
	margin: 0 auto;
}

header{
	background: #e46d9b;
	overflow: hidden;
}


header:before, header:after,
footer:before, footer:after,
.contenedor:before, .contenedor:after{
  content:"";
  display: table;
}

header:after, footer:after, .contenedor:after{
  clear: both;
}
h1{
	margin: 0;
}

h1 img{
	margin-top: 25px;
}

nav ul li{
	list-style: none;
	float: right;
	margin-top: -65px;
}

.custom-select{
  font-size: 17px;
  margin-left: 25px;
  border: none;
  padding: 5px;
  background-color: #562461;
  color: white;
  outline: none;
  margin-top: -10px;
}

.slider{
  background-image: url(./img/slider.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.info{
  display: block;

}

.sep{
  margin-top: 30px;
}

.info h2{
 color: white;
 font-size: 30px;
 margin: 0;
}
.info p{
  color: white;
  font-size: 20px;
  font-weight: bold;
margin-bottom: 8px;
    margin-top: 40px;
}

.opti{
  display: block;
  margin: 0 auto;
  padding: 10px;
  background: #562461;
  color: white;
  font-weight: bold;
  outline: none;
  font-size: 23px;
  margin-top: 30px;
    margin-bottom: 40px;
}

.center{
  text-align: center;
}

.promo{
  display:inline-table;
  width:250px;
  height:250px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom:8px;
  box-sizing: border-box;
}

.img-holder{
  position: relative;
  background-color: #000;
  line-height: 0;
}
span{
  color: white;
}
.img-holder span{
  opacity: 0;
  position: absolute;
  font-family: cocacola, cursive;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  margin: 0;
  font-size: 20px;
  line-height: 200px;
  transform:scale(0);
  transition:opacity .5s, transform .3s;
}

.img-holder:hover span{
  opacity: 1;
  transform:scale(1);
}

#contenedor{
  max-width:940px;
  height:auto;
  margin:auto;/*contenedor centrado en pantalla */
  }

footer{
  padding:30px;
  background-color: #c0497f;
}

.info-2{
  color: #562461;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.promo p{
  color: #562461;
  font-size: 19px;
}

.mapa img{
  width: 100%;
}

h3{
  margin: 0;
  font-size: 100px;
  opacity: 0;
}

.info-3{
  color: #562461;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

footer p{
  text-align: center;
  color: white;
  font-weight: bold;
}